<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="shortcut icon" href="images/logo.PNG" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body class="home">
    <header>
        <div>
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
        </div>
        <section>
            <div class="barra-busqueda">
                <form action="" method="POST">
                    <div>
                        <label for="buscar"></label>
                        <input type="texto" placeholder="buscar productos, marcas" id="buscar" name="buscar"> <br>
                        <a href=""><i class="fas fa-search"></i></a>
                    </div>
                </form>
            </div>
            <div class="compra">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>

        <section class="menu">
        <nav>
            <ul>
                <a href="/"></a>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li> <br>
            
                <li><a href="/creatucuenta">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/ingresa">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/mascompras">Más compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
    </section>
    </header>
    
    
    
    <main>
        <section class="productos">
            <h2>Basado en tu ultima visita</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p class="descripción">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <p class="descripción">MacBook Pro 2019</p>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <p class="descripción">Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <p class="descripción">SmartTv Samsung 43"</p>
            </article>
        </section>

    
        <section class="ofertas">
            <h2>Ofertas</h2>
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="">
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripción">Cafetera Moulinex</p>
                </article>
    
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="">
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    <p class="descripción">MacBook Pro 2019</p>
                </article>
    
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <p class="descripción">Samsung Galaxy S10</p>
                </article>
    
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <p class="descripción">SmartTv Samsung 43"</p>
                </article>
            </section>
    </main>

    <footer>
        <section class="footer">
            <article>
                <div>
                    <i class="fas fa-credit-card"></i>
                </div>
                    <h4>Pagá con tarejta o con efectivo</h4>
                    <p>Con Mercado Libre Cash, tenés cuotas sin interes con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre seguro!</p>
            </article>

            <article>
                <div>
                    <i class="fas fa-gift"></i>
                </div>
                    <h4>Envío gratis desde $2.500</h4>
                    <p>Solo por estar registrad@ enn Mercado Libre tenés envios gratis en miles de
                    producto. Es un beeficio de Mercado Puntos</p>
            </article>

            <article>
                <div>
                    <i class="fas fa-user-shield"></i>
                </div>
                    <h4>Seguridad de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protequid@ </p>
            </article>

            <div class="copyright">
                <h4>Copyright © 1999-2020 MercadoLibre S.R.L.</h4>
            </div>
        </section>
    </footer>
</body>
</html>