<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="shortcut icon" href="images/logo.PNG" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body class="home">
    <header>
        <div class="logo-busqueda">

            <!-- logo -->
            
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
            </div>
            
            <!-- barra de busqueda -->
            
                <div class="busqueda">
                    <form action="" method="POST">
                        <input type="texto" placeholder="buscar productos, marcas" id="buscar" name="buscar"> <br>
                            <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
            <!-- compra en cuotas-->
                    <p class="comprar"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>

                <!-- navegación-->
        <nav>
            <ul class="nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li> <br>
            </ul>
            
            <ul class="login-bar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Más compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>

    </header>
    <!--banner-->
    <div class="banner"><img src="/images/img-home-banner.jpg" width=100%></div>
    
    <main class="productos">

    <!--Basado en tu ultima visita-->

        <section class="ultima-visita">
    <!--productos-->
            <h4 class="titulares">Basado en tu ultima visita</h4>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="imagen">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex </p>
                </div>
            </article>

            <!--productos-->
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019 </p>
                </div>
            </article>

            <!--productos-->
            <article>
                <div><img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10 </p>
                </div>
            </article>

            <!--productos-->
            <article>
                <div><img src="/images/img-tv-samsung-smart.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43" </p>
                </div>
            </article>
            </section>

            <!--productos-->
        <section class="ofertas">
            <h4 class="titulares">Seccion de ofertas</h4>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex </p>
                </div>
            </article>

            <!--productos-->
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019 </p>
                </div>
            </article>

            <!--productos-->
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10 </p>
                </div>
            </article>

            <!--productos-->
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43" </p>
                </div>
                </article>

        </section>

    </main>

    <footer class="footer">
        <!--Pago con tarjeta-->
        <div>
            <i class="fas fa-credit-card"></i>
        </div>
            <h4>Pagá con tarejta o con efectivo</h4>
            <p>Con Mercado Libre Cash, tenés cuotas sin interes con tarjeta o efectivo en
            puntos de pago. ¡Y siempre seguro!</p>
            <!--Envio -->
        <div>
            <i class="fas fa-gift"></i>
        </div>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ enn Mercado Libre tenés envios gratis en miles de
            producto. Es un beeficio de Mercado Puntos</p>
            <!--Envio -->

        <div>
            <i class="fas fa-user-shield"></i>
        </div>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protequid@ </p>

        <div class="copyright">
            <h4>Copyright © 1999-2020 MercadoLibre S.R.L.</h4>
        </div>

    </footer>

</body>


</html>