<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="shortcut icon" href="images/logo.PNG" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <section class="home">
            <img src="/images/logo-mercado-liebre.svg" alt="">
            <p>lugar para poner la barra de busqueda</p>
            <div>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            
        </section>
        <nav>
            <ul>
                <a href="/"></a>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li> <br>
            
                <li><a href="/creatucuenta">Creá tu cuenta</a></li>
                <li><a href="/ingresa">Ingresá</a></li>
                <li><a href="/mascompras">Más compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="productos">
            <h2>Basado en tu ultima visita</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
        
        <section class="ofertas">
            <h2>Ofertas</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>

    <footer>
        <section class="contenedor-foo">
            <article>
                <ul>
                    <h4>Pagá con tarejta</h4>
                    <p>Con Mercado Libre Cash, tenés cuotas sin interes con tarjeta o efectivo en <br>
                        puntos de pago. ¡Y siempre seguro!</p>
                </ul>
            </article>

            <article>
                <ul>
                    <h4>Pagá con tarejta</h4>
                    <p>Con Mercado Libre Cash, tenés cuotas sin interes con tarjeta o efectivo en <br>
                        puntos de pago. ¡Y siempre seguro!</p>
                </ul>
            </article>

            <article>
                <ul>
                    <h4>Envío gratis desde $2.500</h4>
                    <p>Solo por estar registrad@ enn Mercado Libre tenés envios gratis en miles de <br>
                    producto. Es un beeficio de Mercado Puntos</p>
                </ul>
            </article>

            <article>
                <ul>
                    <h4>Seguridad de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, <br> porque estas siemrpe protegid@</p>
                </ul>
            </article>
        </section> 

        <section>
            <ul>
                <h4>Copyright © 1999-2020 MercadoLibre S.R.L.</h4>
           </ul>
        </section>
    </footer>
</body>
</html>