*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
