/*Header*/
header{
    background-color: var(--colorAmarillo);
    padding-bottom: 5px;
}

header .logo-busqueda{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logo-busqueda .logo{
    width:48%;
    margin-left:10px;
    margin-bottom:10px;
    
}

header .logo-busqueda .search-bar{
width:48%;
}

header .logo-busqueda .search-bar input{ 
    width:80%;
}

header p{
    width:100%;
    text-align:center;
    margin-top:12px;
}

header nav{
    display: none;
}

header nav ul{
    padding-bottom: 20px;
    margin-left:8px;
}

header nav ul li a {
    color:black;
    font-size: 12px;
    display:none;
}

header div.burger-menu{
    text-align: center;
}

header div.burger-menu i{
    margin-top: 25px;
    padding: 10px;
    background-color: var(--colorCeleste);
    text-align: center;
    color: var(--colorGrisclaro);
    border-radius: 10%;
}


/*Tablet*/

@media(min-width:361px){
    header nav{
        display:flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
    }
    header nav ul li{
        margin:0 10px;
    }
    header nav ul li a {
        display:inline-block;
    }

    header .logo-busqueda .logo{
        width:33%;
    }

    header .logo-busqueda .search-bar{
        width:33%;
    }

    header p.comprar{
        width:33%;
        margin:20px 0;
    }

    header div.burger-menu{
        display: none;
    }
}
/*laptop*/
@media (min-width: 768px) {
    header nav{
        display:flex;
        justify-content: space-between;
    }

    header nav ul{
        display: flex;
    }

    header nav ul li{
        margin:0 10px;
    }

    header nav ul li a {
        display:inline-block;
    }      

    header .logo-busqueda .logo{
        width:33%;
    }

    header .logo-busqueda .search-bar{
        width:33%;
    }

    header p.comprar{
        width:33%;
        margin:20px 0;
    }
    
    header div.burger-menu{
        display: none;
    }
}