.home{ 
    background-color: #fff159;
    background-size: cover;
    background-repeat: no-repeat;
 }

.home { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productos{
    padding: 50px 20px;
    width: 90%;
    margin: 16;
}

.productos img{ 
    width: 300px;
    padding: 10px;
    margin: auto;
    display: block;
}
.ofertas{
    padding: 60px 20px;
    width: 90%;
    margin: 16;
}

.ofertas img{ 
    width: 300px;
    padding: 10px;
    margin: auto;
    display: block;
}