.home{ 
    background-color: #ebebeb;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 12px;
    margin: auto;
 }
.home main{
    text-align: center;
    font-size: 24px;
    padding: 20px;
    margin: auto;
}
.home section.productos{
    text-align: center;
}
 /* Basado en tu ultima visita*/

 section.productos{
    width: 100%;
    padding-bottom: 20px;
}
.productos p{
    padding: 5px;
    width: 39%;
    margin: auto;
}
.productos img{ 
    width: 200px;
    padding: 5px;
    margin: auto;
    display: block;
}
.productos p.precios{
    font-size: 18px;
}
.productos p.descuentos{
    font-size: 16px;
}
.productos p.descripción{
    font-size: 16px;
}

/* seccion de ofertas */

section.ofertas{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.ofertas img{ 
    width: 200px;
    padding: 5px;
    margin: auto;
    display: block;
}
.ofertas p{
    padding: 5px;
    width: 39%;
    margin: auto;
}
.ofertas p.precios{
    font-size: 18px;
}
.ofertas p.descuentos{
    font-size: 16px;
}
.ofertas p.descripción{
    font-size: 16px;
}
